@import "tailwindcss/utilities";

html {
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-ph);
  color: grey;
  pointer-events: none;
}
.textBox[contentEditable="true"]:empty:not(:focus):before {
  font-style: italic;
}
.search-box {
  display: flex;
  top: 50px;
  position: relative;
  flex-direction: column;
  /* align-items: center;
  text-align: center; */
}
.searchIcon {
  position: absolute;
  padding: 4px;
}
.search-prompt {
  text-align: left;
  /* position: relative;
  top: 18px; */
  letter-spacing: 2px;
  font-size: 16px;
}

.textBox,
.textBox:focus {
  height: 250px;
  text-align: left;
  padding: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 710px;
  width: 100%;
  position: relative;
  border: 2px solid black;
  background-color: white;
}

hr {
  height: 1px;
  border-width: 0;
  max-width: 710px;
  margin-top: 35px;
  color: rgb(212, 210, 210);
  background-color: rgb(212, 210, 210);
}

.dropdownIcon {
  right: -7px;
  top: -6px;
  position: absolute;
  font-size: 40px;
}

.no-of-downloads {
  font-size: 16px;
}

.category-select,
.custom-dropdown {
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: grey;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 2px solid black;
  height: 28px;
  /* width: 100%; */
  padding-left: 30px;
}

.dropdown-option {
  color: black;
  margin-top: 2px;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  height: 28px;
  background-color: #e6e2e2;
  border: 1px solid black;
}

.dropdown-option:hover {
  background-color: white;
}

.display-button {
  font-size: 13px;
  margin-top: 35px;
}

.view-category-link,
.create-category-link {
  color: blue;
}

.promptsBox {
  font-size: 16px;
  /* font-weight: bold; */
  margin-bottom: 20px;
  /* position: relative; */
}

.prompts-container {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  border-radius: 5px;
  position: relative;
  /* left: calc(50% - 375px); */
}

.select-category {
  position: relative;
}

.promptElement {
  background-color: #f1f1f1;
  /* position: relative; */
  max-width: 710px;
  border: 2px solid black;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 15px;
  margin-top: 20px;
  max-height: 230px;
  box-sizing: border-box;
}
.individualPromptElement {
  max-height: 710px;
}
.Rank {
  font-size: 16px;
}

.prompt-heading {
  font-size: 16px;
  letter-spacing: 1px;
  top: 5px;
  position: relative;
  /* font-weight: bold; */
}

.prompt-details,
.prompt-popularity {
  letter-spacing: 1px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.prompt-details {
  /* position: absolute;
  bottom: 10px; */
  margin-top: 35px;
}

.categoryNavigationParent {
  display: flex;
  position: relative;
  top: 60px;
  flex-direction: column;
  align-items: left;
}

.categoryPath {
  display: flex;
}

.form-input {
  float: right;
  border: none;
  border-bottom: 2px solid #000;
  margin-left: 20px;
  /* margin-top: 10px; */
}

.form-input:focus-visible {
  outline: none;
}

.form-label {
  float: left;
  /* margin-top: 10px; */
}
/* 
@media only screen and (max-width: 500px) {
  .promptsBox {
    position: relative;
    left: 35px;
  }
} */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100%; /* Ensure the container takes up the full height */
}

.form-insput {
  border: none;
  border-bottom: 2px solid #000;
  margin-top: 10px;
  width: 100%; /* Take up full width of the parent container */
  max-width: 400px; /* Set a maximum width for the input */
}

.form-lasbel {
  margin-top: 10px;
  text-align: center; /* Center the text horizontally */
}
